*{
  box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  background-color: lightgray;
}

section{
  background-color: gray;
  min-height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

.board{
  width: 90%;
  max-width: 600px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3,1fr);
}

.slot{
  width: 100%;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15em;
  overflow: hidden;
  aspect-ratio: 1;
}

.slot.open{
  cursor: pointer;
}

.slot.lock{
  cursor: not-allowed;
}

.modal{
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .8);
  z-index: 10;
  left: 0;
  top: 0;
}

.modal-content{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 30%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modal-content > p{
  text-align: center;
  color: white;
}

.modal-content > button{
  color: Black;
  font-size: xx-large;
  padding: 0.5em 1em;
  margin-top: 2em;
  border-radius: 0.2em;
  border-width: 0;

}
.modal-content > button:hover{
  color: white;
  background-color: black;
  font-size: xx-large;
  padding: 0.5em 1em;
  margin-top: 2em;
  border-radius: 0.2em;
  cursor: pointer;
}

.modal #message{
  font-size: 4em;
}

.modal .winner::first-letter{
  color: gold;
  font-size: 2em;
}

.score{
  height: 70px;
  display: flex;
  padding: .5rem;
  justify-content: center;
  gap: 25%;
  font-size: 2rem;
}

.score div {
  padding: 0.3rem 1rem;
}

.score div {
  border-bottom: solid black 2px;
}

.score span {
  font-weight: bold;
}
